<div itemscope itemtype="https://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.home %}
        <a href="{{ author.home | relative_url }}">
          <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    {% if author.home %}
      <a href="{{ author_link }}"><h3 class="author__name" itemprop="name">{{ author.name }}</h3></a>
    {% else %}
      <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% endif %}
    {% if author.bio %}
      <div class="author__bio" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.links %}
        {% for link in author.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}: {{ link.url }}</span></a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if author.uri %}
        <li>
          {% assign url = {{ author.uri }} %}
          <a href="{{ url }}" itemprop="url">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].website_label | default: "Website" }}: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}">
            <meta itemprop="email" content="{{ author.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}: {{ author.email }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.keybase %}
        <li>
          {% assign url = "https://keybase.io/" | append: author.keybase %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fas fa-fw fa-key" aria-hidden="true"></i><span class="label">Keybase: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.twitter %}
        <li>
          {% assign url = "https://twitter.com/" | append: author.twitter %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="label">Twitter: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.facebook %}
        <li>
          {% assign url = "https://www.facebook.com/" | append: author.facebook %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i><span class="label">Facebook: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li>
          {% assign url = "https://www.linkedin.com/in/" | append: author.linkedin %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="label">LinkedIn: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.xing %}
        <li>
          {% assign url = "https://www.xing.com/profile/" | append: author.xing %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i><span class="label">XING: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.instagram %}
        <li>
          {% assign url = "https://instagram.com/" | append: author.instagram %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-instagram" aria-hidden="true"></i><span class="label">Instagram: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.tumblr %}
        <li>
          {% assign url = "https://" | append: author.tumblr | append: ".tumblr.com" %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i><span class="label">Tumblr: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.bitbucket %}
        <li>
          {% assign url = "https://bitbucket.org/" | append: author.bitbucket %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i><span class="label">Bitbucket: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          {% assign url = "https://github.com/" | append: author.github %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.gitlab %}
        <li>
          {% assign url = "https://gitlab.com/" | append: author.gitlab %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i><span class="label">GitLab: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.stackoverflow %}
        <li>
          {% assign url = "https://stackoverflow.com/users/" | append: author.stackoverflow %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i><span class="label">Stack Overflow: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.lastfm %}
        <li>
          {% assign url = "https://last.fm/user/" | append: author.lastfm %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i><span class="label">Last.fm: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.dribbble %}
        <li>
          {% assign url = "https://dribbble.com/" | append: author.dribbble %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i><span class="label">Dribbble: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.pinterest %}
        <li>
          {% assign url = "https://www.pinterest.com/" | append: author.pinterest %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i><span class="label">Pinterest: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.foursquare %}
        <li>
          {% assign url = "https://foursquare.com/" | append: author.foursquare %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i><span class="label">Foursquare: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.steam %}
        <li>
          {% assign url = "https://steamcommunity.com/id/" | append: author.steam %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-steam" aria-hidden="true"></i><span class="label">Steam: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.youtube %}
        {% if author.youtube contains "://" %}
          <li>
            <a href="{{ author.youtube }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube: {{ author.youtube }}</span>
            </a>
          </li>
        {% elsif author.youtube %}
          <li>
            {% assign url = "https://www.youtube.com/user/" | append: author.youtube %}
            <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube: {{ url }}</span>
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if author.soundcloud %}
        <li>
          {% assign url = "https://soundcloud.com/" | append: author.soundcloud %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i><span class="label">SoundCloud: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.weibo %}
        <li>
          {% assign url = "https://www.weibo.com/" | append: author.weibo %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-weibo" aria-hidden="true"></i><span class="label">Weibo: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.flickr %}
        <li>
          {% assign url = "https://www.flickr.com/" | append: author.flickr %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-flickr" aria-hidden="true"></i><span class="label">Flickr: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.codepen %}
        <li>
          {% assign url = "https://codepen.com/" | append: author.codepen %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-codepen" aria-hidden="true"></i><span class="label">CodePen: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.vine %}
        <li>
          {% assign url = "https://vine.co/u/" | append: author.vine %}
          <a href="{{ url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-vine" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}: {{ url }}</span>
          </a>
        </li>
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>
